<%= form_for(@plane) do |f| %>
  <% if @plane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plane.errors.count, "error") %> prohibited this plane from being saved:</h2>

      <ul>
      <% @plane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num %><br>
    <%= f.number_field :num %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :floors %><br>
    <%= f.number_field :floors %>
  </div>
  <div class="field">
    <%= f.label :rows %><br>
    <%= f.number_field :rows %>
  </div>
  <div class="field">
    <%= f.label :buis_st %><br>
    <%= f.text_field :buis_st %>
  </div>
  <div class="field">
    <%= f.label :prem_st %><br>
    <%= f.text_field :prem_st %>
  </div>
  <div class="field">
    <%= f.label :eco_st %><br>
    <%= f.text_field :eco_st %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
