<p id="notice"><%= notice %></p>

<h1>Listing Planes</h1>

<table>
  <thead>
    <tr>
      <th>Num</th>
      <th>Model</th>
      <th>Floors</th>
      <th>Rows</th>
      <th>Buis st</th>
      <th>Prem st</th>
      <th>Eco st</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= plane.num %></td>
        <td><%= plane.model %></td>
        <td><%= plane.floors %></td>
        <td><%= plane.rows %></td>
        <td><%= plane.buis_st %></td>
        <td><%= plane.prem_st %></td>
        <td><%= plane.eco_st %></td>
        <td><%= link_to 'Show', plane %></td>
        <td><%= link_to 'Edit', edit_plane_path(plane) %></td>
        <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plane', new_plane_path %>
