<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @plane.num %>
</p>

<p>
  <strong>Model:</strong>
  <%= @plane.model %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @plane.floors %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @plane.rows %>
</p>

<p>
  <strong>Buis st:</strong>
  <%= @plane.buis_st %>
</p>

<p>
  <strong>Prem st:</strong>
  <%= @plane.prem_st %>
</p>

<p>
  <strong>Eco st:</strong>
  <%= @plane.eco_st %>
</p>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %>
