<%= form_tag({:action => @flight.new_record? ? :create : :update},
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("flight[id]", @flight.id) %>
<%= hidden_field_tag("id", @flight.id) %>
  <% if @flight.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @flight.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('flight[code]', Flight.human_attribute_name(:code)) %><br>
        <%= text_field_tag('flight[code]', @flight.code) %>
      </div>

      <div>
        <%= label_tag('flight[eco_cost]', Flight.human_attribute_name(:eco_cost)) %><br>
        <%= text_field_tag('flight[eco_cost]', @flight.eco_cost) %>
      </div>

      <div>
        <%= label_tag('flight[prem_cost]', Flight.human_attribute_name(:prem_cost)) %><br>
        <%= text_field_tag('flight[prem_cost]', @flight.prem_cost) %>
      </div>

      <div>
        <%= label_tag('flight[buis_cost]', Flight.human_attribute_name(:buis_cost)) %><br>
        <%= text_field_tag('flight[buis_cost]', @flight.buis_cost) %>
      </div>

      <div>
        <%= label_tag('flight[is_departure]',
          Flight.human_attribute_name(:is_departure)) %><br>
        <%= check_box_tag('flight[is_departure]', @flight.is_departure, @flight.is_departure) %>
      </div>

      <div>
        <%= label_tag('flight[terminal_id]',
          Flight.human_attribute_name(:terminal_id)) %><br>
        <%= select_terminal('flight[terminal_id]', @flight.terminal_id) %>
        <%= link_to('Новый терминал', {:action => :new, :controller => :terminals},
          :data => {confirm: 'Все введённые данные будут сброшены. Действительно перейти?'}) %>
      </div>

      <div>
        <%= label_tag('flight[registration_desk_id]',
          Flight.human_attribute_name(:registration_desk_id)) %><br>
        <%= select_registration_desk('flight[registration_desk_id]',
          @flight.registration_desk_id) %>
        <%= link_to('Новая регистрационная стойка', {:action => :new, :controller => :registration_desks},
          :data => {confirm: 'Все введённые данные будут сброшены. Действительно перейти?'}) %>
      </div>

      <div>
        <%= label_tag('flight[gate_id]',
          Flight.human_attribute_name(:gate_id)) %><br>
        <%= select_gate('flight[gate_id]', @flight.gate_id) %>
        <%= link_to('Новый выход', {:action => :new, :controller => :gates},
          :data => {confirm: 'Все введённые данные будут сброшены. Действительно перейти?'}) %>
      </div>

      <div>
        <%= label_tag('flight[airport_id]',
          Flight.human_attribute_name(:airport_id)) %><br>
        <%= select_airport('flight[airport_id]', @flight.airport_id) %>
        <%= link_to('Новый аэропорт', {:action => :new, :controller => :airports},
          :data => {confirm: 'Все введённые данные будут сброшены. Действительно перейти?'}) %>
      </div>

      <div>
        <%= label_tag('flight[this_airport_date_time]',
          Flight.human_attribute_name(:this_airport_date_time)) %><br>
        <%= select_datetime(@flight.this_airport_date_time,
          :prefix => 'flight[this_airport_date_time]') %>
      </div>

      <div>
        <%= label_tag('flight[another_airport_date_time]',
          Flight.human_attribute_name(:another_airport_date_time)) %><br>
        <%= select_datetime(@flight.another_airport_date_time,
          :prefix => 'flight[another_airport_date_time]') %>
      </div>

      <div>
        <%= label_tag('flight[company_id]',
          Flight.human_attribute_name(:company_id)) %><br>
        <%= select_company('flight[company_id]', @flight.company_id) %>
        <%= link_to('Новая авиакомпания', {:action => :new, :controller => :companies},
          :data => {confirm: 'Все введённые данные будут сброшены. Действительно перейти?'}) %>
      </div>

      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
