<p id="notice"><%= notice %></p>
<h1>Все рейсы</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Код</th>
      <th>Взлёт/посадка</th>
      <th>Терминал</th>
      <th>Рег. стойка</th>
      <th>Выход</th>
      <th>Куда/откуда</th>
      <th>Дата и время взлёта/посадки</th>
      <th>Дата и время посадки/взлёта</th>
      <th>Авиакомпания</th>
      <% if @is_dep == nil || @is_dep == "true" %>
      <th>Кол-во проданных билетов</th>
      <th></th>
      <% end %>
      <% if @can_edit %>
      <th></th>
      <th></th>
      <% end %>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.code %></td>
        <td><%= flight.show_is_departure %></td>
        <td><%= flight.show_terminal %></td>
        <td><%= flight.show_registration_desk %></td>
        <td><%= flight.show_gate %></td>
        <td><%= flight.airport.code %> <%= flight.airport.city.name %></td>
        <td><%= l(flight.this_airport_date_time) %></td>
        <td><%= l(flight.another_airport_date_time) %></td>
        <td><%= flight.company.name %></td>
        <% if @is_dep == nil || @is_dep == "true" %>
          <td><%= flight.qregisteredOnFlight %></td>
        <% end %>
        <td><%= link_to 'Просмотр', :action => :show, :id => flight.id %></td>
        <% if @can_edit %>
          <% if flight.is_departure %>
          <td><%= link_to 'Регистрация пассажира', controller: :passengers, action: :new, fid: flight.id %></td>
          <% else %>
          <th></th>
          <% end %>
          <td><%= link_to 'Редактировать', :action => :edit, :id => flight.id %></td>
          <td><%= link_to 'Удалить', {:action => :destroy, :id => flight.id},
                :data => { confirm: 'Действительно удалить?' } %></td>
        <% else %>
          <% if flight.is_departure %>
            <td><%= link_to 'Купить билет', controller: :passengers, action: :new, fid: flight.id %></td>
            <% else %>
            <th></th>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @can_edit %>
<%= link_to 'Новый рейс', :action => :new %>
<% end %>
