<p id="notice"><%= notice %></p>
<h1>Список пассажиров</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Номер места</th>
      <th>Класс места</th>
    </tr>
  </thead>

    <tbody>
      <% @plist.each do |passenger| %>
      <tr>
        <td><%= passenger.lname %></td>
        <td><%= passenger.name %></td>
        <td><%= passenger.sname %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
