<p id="notice"><%= notice %></p>

<p>
  <strong><%= Flight.human_attribute_name(:code) %></strong>
  <%= @flight.code %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:eco_cost) %></strong>
  <%= @flight.eco_cost %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:prem_cost) %></strong>
  <%= @flight.prem_cost %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:buis_cost) %></strong>
  <%= @flight.buis_cost %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:is_departure) %></strong>
  <%= @flight.show_is_departure %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:terminal_id) %></strong>
  <%= @flight.show_terminal %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:registration_desk_id) %></strong>
  <%= @flight.show_registration_desk %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:gate_id) %></strong>
  <%= @flight.show_gate %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:airport_id) %></strong>
  <%= @flight.airport.code %> <%= @flight.airport.city.name %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:this_airport_date_time) %></strong>
  <%= l(@flight.this_airport_date_time) %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:another_airport_date_time) %></strong>
  <%= l(@flight.another_airport_date_time) %>
</p>

<p>
  <strong><%= Flight.human_attribute_name(:company_id) %></strong>
  <%= @flight.company.name %>
</p>

<% if @can_edit %>
<%= link_to('Редактировать', :action => :edit, :id => @flight.id) %> |
<% end %>
<%= link_to('Назад', :action => :index) %>
