<%= form_tag({:action => @registration_desk.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("registration_desk[id]", @registration_desk.id) %>
<%= hidden_field_tag("id", @registration_desk.id) %>
  <% if @registration_desk.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @registration_desk.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('registration_desk[code]', RegistrationDesk.human_attribute_name(:code)) %><br>
        <%= text_field_tag('registration_desk[code]', @registration_desk.code) %>
      </div>
      <div>
        <%= label_tag('registration_desk[terminal_id]', RegistrationDesk.human_attribute_name(:terminal_id)) %><br>
        <%= select_terminal('registration_desk[terminal_id]', @registration_desk.terminal_id) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>