<h1>Редактирование ргистрационной стойки</h1>

<%= render 'form' %>

<%= link_to 'Показать', :action => :show, :id => @registration_desk.id %> |
<%= link_to 'Назад', :action => :index, :controller => :terminals %>
