<p id="notice"><%= notice %></p>

<p>
  <strong><%= RegistrationDesk.human_attribute_name(:code) %>:</strong>
  <%= @registration_desk.code %>
</p>

<p>
  <strong><%= RegistrationDesk.human_attribute_name(:terminal_id) %>:</strong>
  <%= @registration_desk.terminal.code %>
</p>

<%= link_to 'Редактировать', :action => :edit, :id => @registration_desk.id %> |
<%= link_to 'Назад', :action => :index, :controller => :terminals %>
