<%= form_tag({:action => @language.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("language[id]", @language.id) %>
<%= hidden_field_tag("id", @language.id) %>
  <% if @language.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @language.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('language[name]', Language.human_attribute_name(:name)) %><br>
        <%= text_field_tag('language[name]', @language.name) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
