<h1>Список языков</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <td><%= link_to 'Показать', :action => :show, :id => language.id %></td>
        <td><%= link_to 'Редактировать', :action => :edit, :id => language.id %></td>
        <td><%= link_to 'Удалить', {:action => :destroy, :id => language.id}, 
          :data => { :confirm => 'Действительно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый язык', :action => :new %>
