<p id="notice"><%= notice %></p>

<p>
  <strong><%= Language.human_attribute_name(:name) %>:</strong>
  <%= @language.name %>
</p>

<%= link_to 'Редактировать', :action => :edit, :id => @language.id %> |
<%= link_to 'Назад', :action => :index %>
