<%= form_tag({:action => @gate.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("gate[id]", @gate.id) %>
<%= hidden_field_tag("id", @gate.id) %>
  <% if @gate.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @gate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('gate[code]', Gate.human_attribute_name(:code)) %><br>
        <%= text_field_tag('gate[code]', @gate.code) %>
      </div>
      <div>
        <%= label_tag('gate[terminal_id]', Gate.human_attribute_name(:terminal_id)) %><br>
        <%= select_terminal('gate[terminal_id]', @gate.terminal_id) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
