<p id="notice"><%= notice %></p>

<p>
  <strong><%= Gate.human_attribute_name(:code) %>:</strong>
  <%= @gate.code %>
</p>

<p>
  <strong><%= Gate.human_attribute_name(:terminal_id) %>:</strong>
  <%= @gate.terminal.code %>
</p>

<%= link_to 'Редактировать', :action => :edit, :id => @gate.id %> |
<%= link_to 'Назад', :action => :index, :controller => :terminals %>
