<%= form_tag({:action => @ouser.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("user[id]", @ouser.id) %>
<%= hidden_field_tag("id", @ouser.id) %>
  <% if @ouser.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @ouser.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('user[login]', User.human_attribute_name(:login)) %><br/>
        <%= text_field_tag('user[login]', @ouser.login) %>
      </div>
      <div>
        <%= label_tag('user[info]', User.human_attribute_name(:info)) %><br/>
        <%= text_field_tag('user[info]', @ouser.info) %>
      </div>
      <div>
        <%= label_tag('user[password]', User.human_attribute_name(:password)) %><br/>
        <%= password_field_tag('user[password]') %>
      </div>
      <div>
        <%= label_tag('user[role]', 'Роли') %><br/>        
        <ul id = "user_role">
          <% Role.all.sort.each_with_index do |r, i|  %>
          <li>
            <%= check_box_tag("user[role][]", r.id, @ouser.roles.include?(r)) %>
            <%= r.name %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
