<h1>Список пользователей</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Логин</th>
      <th>Информация</th>
      <th>Роли</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.login %></td>
        <td><%= user.info %></td>
        <td><%= user.roles.map{ |r| r.name }.join(', ') %></td>
        <td><%= link_to 'Показать', :action => :show, :id => user.id %></td>
        <td><%= link_to 'Редактировать', :action => :edit, :id => user.id %></td>
        <td><%= link_to 'Удалить', {:action => :destroy, :id => user.id}, 
          :data => { :confirm => 'Действительно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый пользователь', :action => :new %>
