<p id="notice"><%= notice %></p>

<p>
  <strong><%= User.human_attribute_name(:login) %>:</strong>
  <%= @ouser.login %>
</p>

<p>
  <strong><%= User.human_attribute_name(:info) %>:</strong>
  <%= @ouser.info %>
</p>

<p>
  <strong>Роли:</strong>
  <%= @ouser.roles.map{|r| r.name}.join(', ') %>
</p>

<%= link_to 'Редактировать', :action => :edit, :id => @ouser.id %> |
<%= link_to 'Назад', :action => :index %>
