<%= form_for(@passenger_ticket) do |f| %>
<%= hidden_field_tag("passenger_id", @passenger) %>
<%= hidden_field_tag("flight_id", @flight) %>
<%= hidden_field_tag("seat_num", @seat_num) %>
  <% if @passenger_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@passenger_ticket.errors.count, "error") %> prohibited this passenger_ticket from being saved:</h2>

      <ul>
      <% @passenger_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= label_tag('passenger_ticket[ticket_id]',
      Ticket.human_attribute_name(:seat_num)) %><br>
    <%= select_free_seats('seat_num',
      @seat_num, @flight) %>
  </div>
  <div>
    <%= label_tag('passenger_ticket[ttype]',
      Ticket.human_attribute_name(:ttype)) %><br>
    <%= select_type('passenger_ticket[ttype]',
      @passenger_ticket.ttype) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
