<h1>Все билеты</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Электронный номер билета</th>
      <th>Пассажир</th>
      <th>Номмер места</th>
      <th>Тип билета</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @passenger_tickets.each do |passenger_ticket| %>
      <tr>
        <td><%= passenger_ticket.e_num %></td>
        <td><%= link_to 'Подробнее', controller: :passengers, action: :show, id: passenger_ticket.passenger_id %></td>
        <td><%= passenger_ticket.ticket.seat_num %></td>
        <td><%= passenger_ticket.ticket.seat_class %></td>
        <td><%= passenger_ticket.ttype %></td>
        <td><%= link_to 'Показать', passenger_ticket %></td>
        <td><%= link_to 'Редактировать', edit_passenger_ticket_path(passenger_ticket) %></td>
        <td><%= link_to 'Удалить', passenger_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Зарегистрировать нового пассажира', new_passenger_ticket_path %>
