<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong><%= Ticket.human_attribute_name(:e_num) %></strong>
  <%= @passenger_ticket.e_num %>
</p>

<p>
  <strong><%= Ticket.human_attribute_name(:seat_class) %>:</strong>
  <%= @passenger_ticket.ticket.seat_class %>
</p>

<p>
  <strong><%= Ticket.human_attribute_name(:seat_num) %>:</strong>
  <%= @passenger_ticket.ticket.seat_num %>
</p>

<p>
  <strong><%= Ticket.human_attribute_name(:price) %>:</strong>
  <%= @passenger_ticket.ticket.price %>
</p>

<p>
  <strong><%= Ticket.human_attribute_name(:seat_class) %>:</strong>
  <%= @passenger_ticket.ticket.seat_class %>
</p>

<p>
  <strong><%= PassengerTicket.human_attribute_name(:ttype) %>:</strong>
  <%= @passenger_ticket.ttype %>
</p>

<p>
  <strong><%= Passenger.human_attribute_name(:snl) %>:</strong>
  <%= @passenger_ticket.passenger.sname + " " + @passenger_ticket.passenger.name + " " + @passenger_ticket.passenger.lname %>
  <%= link_to 'Подробнее', controller: :passengers, action: :show, id: @passenger_ticket.passenger.id  %>
</p>

<%= link_to 'Редактировать', controller: :passenger_tickets, action: :edit, fid: @passenger_ticket.ticket.flight.id, cid: @passenger_ticket.passenger_id %> |
<%= link_to 'Назад', passenger_tickets_path %>
