<%= form_tag({:action => @company.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("company[id]", @company.id) %>
<%= hidden_field_tag("id", @company.id) %>
  <% if @company.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('company[name]', Company.human_attribute_name(:name)) %><br>
        <%= text_field_tag('company[name]', @company.name) %>
      </div>
      <div>
        <%= label_tag('company[code]', Company.human_attribute_name(:code)) %><br>
        <%= text_field_tag('company[code]', @company.code) %>
      </div>
      <div>
        <%= label_tag('company[country_id]', Company.human_attribute_name(:country_id)) %><br>
        <%= select_country('company[country_id]', @company.country_id) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
