<h1>Авиакомпании</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Код</th>
      <th>Страна</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.code %></td>
        <td><%= company.country.name %> (<%= company.country.code %>)</td>
        <td><%= link_to('Показать', :action => :show, :id => company.id) %></td>
        <td><%= link_to('Редактировать', :action => :edit, :id => company.id) %></td>
        <td>
          <%= link_to('Удалить', {:action => :destroy, :id => company.id}, 
            data: { confirm: 'Действительно удалить?' }) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая компания', :action => :new %>
