<p id="notice"><%= notice %></p>

<p>
  <strong><%= Company.human_attribute_name(:name) %>:</strong>
  <%= @company.name %>
</p>

<p>
  <strong><%= Company.human_attribute_name(:code) %>:</strong>
  <%= @company.code %>
</p>

<p>
  <strong><%= Company.human_attribute_name(:country_id) %>:</strong>
  <%= @company.country.name %> (<%= @company.country.code %>)
</p>

<%= link_to('Редактировать', :action => :edit, :id => @company.id) %> |
<%= link_to('Назад', :action => :index) %>
