<%= form_for(@passenger) do |f| %>
<%= hidden_field_tag("fid", @fid) %>
  <% if @passenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@passenger.errors.count, "error") %> prohibited this passenger from being saved:</h2>

      <ul>
      <% @passenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label Passenger.human_attribute_name(:name) %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label Passenger.human_attribute_name(:sname) %><br>
    <%= f.text_field :sname %>
  </div>
  <div class="field">
    <%= f.label Passenger.human_attribute_name(:lname) %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label Passenger.human_attribute_name(:passport_num) %><br>
    <%= f.text_field :passport_num %>
  </div>
  <div class="field">
    <%= f.label Passenger.human_attribute_name(:foreign_passport) %><br>
    <%= f.text_field :foreign_passport %>
  </div>
  <div class="field">
    <%= f.label Passenger.human_attribute_name(:citizenship) %><br>
    <%= f.text_field :citizenship %>
  </div>
  <div>
    <%= label_tag('passenger[sex]',
    Passenger.human_attribute_name(:sex)) %><br>
    <%= select_sex('passenger[sex]',
    @passenger.sex) %>
  </div>
  <div class="field">
    <%= f.label Passenger.human_attribute_name(:bdate) %><br>
    <%= f.date_select(:bdate, start_year: (Date.today.year - 125), end_year: Date.today.year) %>
  </div>
  <div class="actions">
    <%= f.submit(fid: @fid) %>
  </div>
<% end %>
