<h1>Все пассажиры</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Номер паспорта</th>
      <th>Загранпаспорт</th>
      <th>Гражданство</th>
      <th>Пол</th>
      <th>Дата рождения</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @passengers.each do |passenger| %>
      <tr>
        <td><%= passenger.sname %></td>
        <td><%= passenger.name %></td>
        <td><%= passenger.lname %></td>
        <td><%= passenger.passport_num %></td>
        <td><%= passenger.foreign_passport %></td>
        <td><%= passenger.citizenship %></td>
        <td><%= passenger.sex %></td>
        <td><%= passenger.bdate %></td>
        <td><%= link_to 'Показать', passenger %></td>
        <td><%= link_to 'Редактировать', edit_passenger_path(passenger) %></td>
        <td><%= link_to 'Удалить', passenger, method: :delete, data: { confirm: 'Вы уверены что хотите удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Зарегистрировать пассажира', new_passenger_path %>
