<p id="notice"><%= notice %></p>

<p>
  <strong><%= Passenger.human_attribute_name(:lname) %></strong>
  <%= @passenger.lname %>
</p>

<p>
  <strong><%= Passenger.human_attribute_name(:name) %></strong>
  <%= @passenger.name %>
</p>

<p>
  <strong><%= Passenger.human_attribute_name(:sname) %></strong>
  <%= @passenger.sname %>
</p>

<p>
  <strong><%= Passenger.human_attribute_name(:passport_num) %></strong>
  <%= @passenger.passport_num %>
</p>

<p>
  <strong><%= Passenger.human_attribute_name(:foreign_passport) %></strong>
  <%= @passenger.foreign_passport %>
</p>

<p>
  <strong><%= Passenger.human_attribute_name(:citizenship) %></strong>
  <%= @passenger.citizenship %>
</p>

<p>
  <strong><%= Passenger.human_attribute_name(:sex) %></strong>
  <%= @passenger.sex %>
</p>

<p>
  <strong><%= Passenger.human_attribute_name(:bdate) %></strong>
  <%= @passenger.bdate %>
</p>

<%= link_to 'Редактироват', edit_passenger_path(@passenger) %> |
<%= link_to 'Назад', passengers_path %>
