<%= form_tag({:action => @airport.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("airport[id]", @airport.id) %>
<%= hidden_field_tag("id", @airport.id) %>
  <% if @airport.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @airport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('airport[name]', Airport.human_attribute_name(:name)) %><br>
        <%= text_field_tag('airport[name]', @airport.name) %>
      </div>
      <div>
        <%= label_tag('airport[code]', Airport.human_attribute_name(:code)) %><br>
        <%= text_field_tag('airport[code]', @airport.code) %>
      </div>
      <div>
        <%= label_tag('airport[city_id]', Airport.human_attribute_name(:city_id)) %><br>
        <%= select_city('airport[city_id]', @airport.city_id) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
