<h1>Аэропорты</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Код</th>
      <th>Город</th>
      <th>Страна</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= airport.name %></td>
        <td><%= airport.code %></td>
        <td><%= airport.city.name %> (<%= airport.city.code %>)</td>
        <td><%= airport.city.country.name %> (<%= airport.city.country.code %>)</td>
        <td><%= link_to 'Показать', :action => :show, :id => airport.id %></td>
        <td><%= link_to 'Редактировать', :action => :edit, :id => airport.id %></td>
        <td><%= link_to 'Удалить', {:action => :destroy, :id => airport.id}, 
          data: { confirm: 'Действительно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый аэропорт', :action => :new %>
