<p id="notice"><%= notice %></p>

<p>
  <strong><%= Airport.human_attribute_name(:name) %>:</strong>
  <%= @airport.name %>
</p>

<p>
  <strong><%= Airport.human_attribute_name(:code) %>:</strong>
  <%= @airport.code %>
</p>

<p>
  <strong><%= Airport.human_attribute_name(:city_id) %>:</strong>
  <%= @airport.city.name %> (<%= @airport.city.code %>)
</p>

<p>
  <strong><%= City.human_attribute_name(:country_id) %>:</strong>
  <%= @airport.city.country.name %> (<%= @airport.city.country.code %>)
</p>

<%= link_to 'Редактировать', :action => :edit, :id => @airport %> |
<%= link_to 'Назад', :action => :index %>
