<%= form_tag({:action => @role.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("role[id]", @role.id) %>
<%= hidden_field_tag("id", @role.id) %>
  <% if @role.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('role[name]', Role.human_attribute_name(:name)) %><br>
        <%= text_field_tag('role[name]', @role.name) %>
      </div>
      <div>
        <%= label_tag('role[info]', Role.human_attribute_name(:info)) %><br>
        <%= text_field_tag('role[info]', @role.info) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
