<h1>Список ролей</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Информация</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.info %></td>
        <td><%= link_to 'Показать', :action => :show, :id => role.id %></td>
        <td><%= link_to 'Редактировать', :action => :edit, :id => role.id %></td>
        <td><%= link_to 'Удалить', {:action => :destroy, :id => role}, 
          :data => { :confirm => 'Действительно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая роль', :action => :new %>
