<p id="notice"><%= notice %></p>

<p>
  <strong><%= Role.human_attribute_name(:name) %>:</strong>
  <%= @role.name %>
</p>

<p>
  <strong><%= Role.human_attribute_name(:info) %>:</strong>
  <%= @role.info %>
</p>

<p>
  <strong>Пользователи:</strong><br/>
  <% if @role.users.size > 0 %>
    <% @role.users.sort.each do |u| %>
      <%= u.login %> (<%= u.info %>)<br/>
    <% end %>
  <% end %>
</p>

<%= link_to 'Редактировать', :action => :edit, :id => @role.id %> |
<%= link_to 'Назад', :action => :index %>
