<%= form_tag({:action => @country.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("country[id]", @country.id) %>
<%= hidden_field_tag("id", @country.id) %>
  <% if @country.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @country.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('country[name]', Country.human_attribute_name(:name)) %><br>
        <%= text_field_tag('country[name]', @country.name) %>
      </div>
      <div>
        <%= label_tag('country[code]', Country.human_attribute_name(:code)) %><br>
        <%= text_field_tag('country[code]', @country.code) %>
      </div>
      <div>
        <%= label_tag('country[language_id]', Country.human_attribute_name(:language_id)) %><br>
        <%= select_language('country[language_id]', @country.language_id) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
