<h1>Страны и города</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Код</th>
      <th>Основной язык</th>
      <th>Города</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.code %></td>
        <td><%= country.language.name %></td>
        <td>
          <ul>
            <li><%= link_to('Новый город', :action => :new, 
              :controller => :cities, :country_id => country.id) %></li>
          <% country.cities.each do |c| %>
            <li>
              <%= link_to(c.name, :controller => :cities, :action => :edit, 
                :id => c.id) %> 
              <%= link_to('X', :controller => :cities, :action => :destroy, 
                :id => c.id, :country_action => true) %>
            </li>
          <% end %>
          </ul>
        </td>
        <td><%= link_to('Показать', :action => :show, :id => country.id) %></td>
        <td><%= link_to('Редактировать', :action => :edit, :id => country.id) %></td>
        <td><%= link_to('Удалить', {:action => :destroy, :id => country.id}, 
          data: { confirm: 'Действительно удалить?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('Новая страна', :action => :new) %>
