<p id="notice"><%= notice %></p>

<p>
  <strong><%= Country.human_attribute_name(:name) %>:</strong>
  <%= @country.name %>
</p>

<p>
  <strong><%= Country.human_attribute_name(:code) %>:</strong>
  <%= @country.code %>
</p>

<p>
  <strong><%= Country.human_attribute_name(:language_id) %>:</strong>
  <%= @country.language.name %>
</p>

<% if @country.cities.size %>
<p>
  <strong>Города:</strong>
  <ul>
  <% @country.cities.each do |c| %>
    <li><%= c.name %> (<%= c.code %>)</li>
  <% end %>  
  </ul>  
</p>
<% end %>

<%= link_to('Редактировать', :action => :edit, :id => @country.id) %> |
<%= link_to('Назад', :action => :index) %>
