<%= form_tag({:action => @terminal.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("terminal[id]", @terminal.id) %>
<%= hidden_field_tag("id", @terminal.id) %>
  <% if @terminal.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @terminal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('terminal[code]', Terminal.human_attribute_name(:code)) %><br>
        <%= text_field_tag('terminal[code]', @terminal.code) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
