<h1>Терминалы, выходы и регистрационные стойки</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Код</th>
      <th>Выходы</th>
      <th>Регистрационные стойки</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @terminals.each do |terminal| %>
      <tr>
        <td><%= terminal.code %></td>
        <td>
          <ul>
            <li><%= link_to('Новый выход', :action => :new, 
              :controller => :gates, :terminal_id => terminal.id) %></li>
            <% terminal.gates.each do |g| %>
            <li><%= link_to(g.code, :action => :edit, 
                  :controller => :gates, :id => g.id)%>
                <%= link_to('X', {:action => :destroy, 
                  :controller => :gates, :id => g.id},
                  :data => {:confirm => 'Действительно удалить?'})%></li>
            <% end %>
          </ul>
        </td>
        <td>
          <ul>
            <li><%= link_to('Новая регистрационная стойка', :action => :new, 
              :controller => :registration_desks, :terminal_id => terminal.id) %></li>
            <% terminal.registration_desks.each do |g| %>
            <li><%= link_to(g.code, :action => :edit, 
                  :controller => :registration_desks, :id => g.id)%>
                <%= link_to('X', {:action => :destroy, 
                  :controller => :registration_desks, :id => g.id},
                  :data => {:confirm => 'Действительно удалить?'})%></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Показать', :action => :show, :id => terminal.id %></td>
        <td><%= link_to 'Редактировать', :action => :edit, :id => terminal.id %></td>
        <td><%= link_to 'Удалить', {:action => :destroy, :id => terminal.id}, 
              :data => { :confirm => 'Действительно удалить?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый терминал', :action => :new %>
