<p id="notice"><%= notice %></p>

<p>
  <strong><%= Terminal.human_attribute_name(:code) %>:</strong>
  <%= @terminal.code %>
</p>
<p>
  <strong>Выходы:</strong>
  <% if @terminal.gates.size > 0 %>
  <ul>
    <% @terminal.gates.each do |g| %>
    <li><%= g.code %></li>
    <% end %>
  </ul>
  <% end %>
</p>
<p>
  <strong>Регистрационные стойки:</strong>
  <% if @terminal.registration_desks.size > 0 %>
  <ul>
    <% @terminal.registration_desks.each do |g| %>
    <li><%= g.code %></li>
    <% end %>
  </ul>
  <% end %>
</p>

<%= link_to 'Редактировать', :action => :edit, :id => @terminal.id %> |
<%= link_to 'Назад', :action => :index %>
