<%= form_tag({:action => @city.new_record? ? :create : :update}, 
  :class=>"form-inline form-horizontal") do %>
<%= hidden_field_tag("city[id]", @city.id) %>
<%= hidden_field_tag("id", @city.id) %>
  <% if @city.errors.any? %>
    <div id = "errors_tag">
      Произошли ошибки:
      <ul>
        <% @city.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span6 ">
      <div>
        <%= label_tag('city[name]', City.human_attribute_name(:name)) %><br>
        <%= text_field_tag('city[name]', @city.name) %>
      </div>
      <div>
        <%= label_tag('city[code]', City.human_attribute_name(:code)) %><br>
        <%= text_field_tag('city[code]', @city.code) %>
      </div>
      <div>
        <%= label_tag('city[country_id]', City.human_attribute_name(:country_id)) %><br>
        <%= select_country('city[country_id]', @city.country_id) %>
      </div>
      <div class="actions">
        <%= submit_tag('Внести изменения') %>
      </div>
    </div>
  </div>
</div>
<% end %>
