<h1>Города</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Код</th>
      <th>Страна</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.code %></td>
        <td><%= city.country.name %> (<%= city.country.code %>)</td>
        <td><%= link_to('Показать', :action => :show, :id => city.id) %></td>
        <td><%= link_to('Редактировать', :action => :edit, :id => city.id) %></td>
        <td><%= link_to('Удалить', {:action => :destroy, :id => city.id}, 
          :data => { :confirm => 'Действительно удалить?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('Новый город', :action => :new) %>
