<p id="notice"><%= notice %></p>

<p>
  <strong><%= City.human_attribute_name(:name) %>:</strong>
  <%= @city.name %>
</p>

<p>
  <strong><%= City.human_attribute_name(:code) %>:</strong>
  <%= @city.code %>
</p>

<p>
  <strong><%= City.human_attribute_name(:country_id) %>:</strong>
  <%= @city.country.name %>
</p>

<%= link_to('Редактировать', :action => :edit, :id => @city.id) %> |
<%= link_to('Назад', :action => :index) %>
