<%= form_for(@international_name) do |f| %>
  <% if @international_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@international_name.errors.count, "error") %> prohibited this international_name from being saved:</h2>

      <ul>
      <% @international_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.text_field :term %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
