<h1>Listing international_names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Term</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @international_names.each do |international_name| %>
      <tr>
        <td><%= international_name.name %></td>
        <td><%= international_name.language %></td>
        <td><%= international_name.term %></td>
        <td><%= link_to 'Show', international_name %></td>
        <td><%= link_to 'Edit', edit_international_name_path(international_name) %></td>
        <td><%= link_to 'Destroy', international_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New International name', new_international_name_path %>
