<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @international_name.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @international_name.language %>
</p>

<p>
  <strong>Term:</strong>
  <%= @international_name.term %>
</p>

<%= link_to 'Edit', edit_international_name_path(@international_name) %> |
<%= link_to 'Back', international_names_path %>
