<!DOCTYPE html>
<html>
<head>
  <title>WebAirport2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">Аэропорт МГИУ</a>
    </div>
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Рейсы <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% drop1(@user).each do |menu_item| %>
            <li><%= menu_item %></a></li>
            <% end %>
          </ul>
        </li>
	<% menu(@user).each do |menu_item| %>
    <li><%= menu_item %></a></li>
	<% end %>
      </ul>
      <% unless @user.nil? %>
      <ul class="nav navbar-nav navbar-right" >
	<li class='navbar-brand' ><%= @user.login %></li>
	<li ><%= link_to('Выйти', :controller => :users, :action => :logout) %></li>
      </ul>
      <% end %>
    </div>
  </div>
  <div class="container-fluid">
    <% if @user.nil? %>
    <div class = "row">
      <div class="col-xs-2 thumbnail">
	<%= form_tag(:controller => :flights, :action => :index) do %>
	<div>
	  <input type = "text" name = "auth_login" class="input-small" placeholder="login"/>
	</div>
	<div>
	  <input type = "password" name = "auth_password" class="input-small" placeholder="password"/>
	</div>
	<div>
	  <input type = "submit" value = "Войти" class = "btn btn-default"/>
	</div>
	<% end %>
      </div>
      <div class="col-xs-10">
	<%= yield %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col-xs-12">
	<%= yield %>
      </div>
    </div>
    <% end %>
  </div>
</body>
</html><!DOCTYPE html>
